@CHARSET "ISO-8859-1";

   
   
   			body{
				margin:0;
				padding:0;
			}
			.leftcol{
				height:100%;
				background-color: white;
				overflow:hidden;
				overflow-y: auto;
				position:fixed;
				top:0;
				left:0;
			}
			.rightcol{
				background-color: red;
				height:100%;
			}
			.leftcol .ui-resizable-e{
				position:fixed;
				height:100%;
				width:10px;
				background-color:gray;
				left:300px;
				z-index:999;
			}
			.leftcol .ui-resizable-s,
			.leftcol .ui-resizable-se{
				display:none !important;
			}